.table__cell_theme_dark {
    margin: 80px auto 0;
    width: 200px;
  }

  .table__cell_theme_dark:nth-child(5) {
    margin: 80px 0 0 auto;
  }
  
  .table__cell_theme_dark:last-child {
    margin: 80px 0 0 auto;
  }