@keyframes rotation {
  from {
    transform: rotate(0deg);
    }
  to {
    transform: rotate(360deg);
    }
}

.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
  display: flex;
  align-items: center;
  position: relative;
}

.logo {
  width: 183px;
}

.logo_place_header {
  position: absolute;
  left: 64px;
  top: 30px;
  height: 32px;
  z-index: 1;
}

.header__title {
  margin: 0 0 0 64px;
  line-height: 96px;
  font-size: 102px;
  font-weight: bold;
  width: 730px;
  z-index: 1;
}

.header__subtitle {
  position: absolute;
  margin: 0;
  left: 64px;
  bottom: 30px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  width: 388px;
  z-index: 1;
}

.header__link {
  text-decoration: none;
  color: #2f80ed;
}

.header__main-illustration {
  width: 765px;
  height: 608px;
  position: absolute;
  right: 0;
  bottom: 0;
  background-size: cover;
}

.header__square-pic {
  height: 568px;
  width: 568px;
  position: absolute;
  right: 0;
  top: 64px;
  background-color: #2f80ed;
}

.description {
  margin: 100px 0 0 0;
}

.two-columns {
  width: 80%;
  display: flex;
  justify-content: space-between;
  margin: auto;
}

.two-columns__brief {
  width: 175px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: #2f80ed;
  margin: 0;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
  margin: 0;
}

.two-columns__paragraph {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin: 0 0 30px 0;
}

.two-columns__paragraph:last-child {
  margin-bottom: 0;
}

.two-columns__span-accent {
  font-weight: bold;
}

.techniques {
  margin: 100px auto 0;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  width: 920px;
}
.cards__item {
  margin: 60px 100px 0 0;
  width: 240px;
  text-align: center;
}

.cards__item:nth-child(3) {
  margin: 60px 0 0;
}

.cards__image {
  background-size: cover;
  margin: 0 40px 43px;
  border-radius: 50%;
  width: 160px;
  height: 160px;
}
.cards__title {
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  margin: 0 0 20px 0;
}
.cards__description {
  line-height: 23px;
  font-size: 18px;
  font-weight: normal;
  margin: 0;
}

.video {
  padding: 100px 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: visible;
}

.video__frames {
  margin: 0 auto;
  transform: translate(0, 50px);
}

.video__frame {
  margin-right: 20px;
}

.video__frame:last-child {
  margin-right: 0;
}

.oakley {
  padding: 160px 0 0 0;
  background-color: #f2f2f2;
}

.khan {
  padding: 105px 0 0;
  overflow: hidden;
  background-color: #f2f2f2;
}

.khan_container {
 margin: 0 auto;
 width: 80%;
 display: flex;
 flex-direction: column;
}

.khan__author {
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
  margin: 0;
}

.khan__title {
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
  margin: 0;
}

.khan__quote {
  width: 790px;
  margin: 50px auto 36px 0;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.khan__quote-author {
 margin: 0;
 line-height: 1.15;
 font-size: 24px;
 font-weight: normal;
}

.khan__quote-author-subline {
  margin: 10px auto 68px 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}

.khan__book-container {
  display: flex;
  flex-wrap: wrap;
  height: 608px;
}

.khan__book-pic {
  width: 620px;
  margin-right: 48px;
}

.khan__buy-link {
  text-decoration: none;
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
  color: #2f80ed;
  align-self: flex-start;
  margin: 0;
}

.digits {
  margin: 100px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-title {
  width: 60%;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
  text-align: center;
  margin: 0 0 20px 0;
}

.section-subtitle {
  width: 60%;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  text-align: center;
  margin: 0;
}

.table {
  display: flex;
  flex-wrap: wrap;
  width: 1100px;
  margin: 0 auto;
}

.table__cell {
  margin: 60px auto 0 auto;
  width: 250px;
}

.table__heading {
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  margin: 0 0 20px 0;
}

.table__text {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin: 0 0 20px 0;
}

.table__text:last-child {
  margin-bottom: 0;
}

.feynman {
  margin: 0;
  min-height: 890px;
  background-image: url("../images/feynman.png");
  background-color: #f2f2f2;
  background-position: bottom left;
  background-repeat: no-repeat;
  background-size: auto;
  position: relative;
}

.feynman__title {
  margin: 0 auto;
  padding: 100px 0 0 0;
  width: 648px;
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
  text-align: center;
}

.feynman__subtitle {
  margin: 70px auto 0 0;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  text-align: center;
}

.feynman__link {
  text-decoration: none;
  position: absolute;
  right: 48px;
  top: 50%;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  color: #2f80ed;
}

.kaufman {
  position: relative;
  overflow: hidden;
  padding: 90px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1f1f1f;
  color: #f2f2f2;
}

.kaufman__triangle {
  position: absolute;
  right: -210px;
  top: 0px;
  width: 877px;
  height: 877px;
  background-image: url("../images/kaufman-triangle.svg");
  background-size: cover;
  z-index: 0;
}

.rotation {
  animation: rotation 20s linear infinite;
}

.section-title_theme_dark {
  z-index: 1;
}

.section-subtitle_theme_dark {
  z-index: 1;
}

.table_theme_dark {
  z-index: 1;
}

.table__cell_theme_dark {
  margin: 80px auto 0;
  width: 200px;
}

.table__cell_theme_dark:nth-child(5) {
  margin: 80px 0 0 auto;
}

.table__cell_theme_dark:last-child {
  margin: 80px 0 0 auto;
}

.table__heading_theme_dark {
  z-index: 1;
}

.table__text_theme_dark {
  margin: 0;
  z-index: 1;
}

.footer {
  min-height: 350px;
  background-color: #1f1f1f;
  font-size: 18px;
  color: #f2f2f2;
}

.footer__columns {
  padding: 60px 0 40px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  width: 90%;
  min-height: 250px;
}

.footer__column {
  display: flex;
  flex-direction: column;
}

.logo_place_footer {
  height: 35px;
  z-index: 1;
}

.footer__author {
  line-height: 25px;
  margin: 18px 0;
}

.footer__column_content_copyright {
  flex-basis: 711px;
  justify-content: space-between;
}

.footer__column_content_info {
  margin: 0;
}

.footer__column-heading {
  line-height: 30px;
  font-weight: bold;
  margin: 0;
}

.footer__column-links {
  padding: 0;
  margin: 20px 0 16px 0;
  list-style: none;
}

.footer__column-link {
  list-style-type: none;
  text-decoration: none;
  color: #f2f2f2;
  line-height: 30px;
  font-weight: normal;
}

.footer__column-item {
  margin: 0;
}

.footer__column_content_social {
  margin: 0;
}

.footer__social-icon {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}
